#title{
    background-color: #ff4c68;
    color: white;
}

.container-fluid{
    padding: 3% 17% 7%; 
}

h1{
    font-family: 'Montserrat', sans-serif; font-size: 2.5rem; line-height: 1.5; font-weight: 900; color: white;
}

.download-button
{
    margin: 5% 3% 5% 0;

}
/* navigation bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    
}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";

}


/* title-image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    margin-bottom: auto;
    position: absolute;
    right: 30%;
}





.feature-box{
    text-align: center;
    padding: 5%;
}



#features {
   padding: 7% 15%;
   position: relative;
   background-color: white;
}
 
h3{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 1.3rem;
    line-height: 1.5;
}
 
p{
    color: #8f8f8f;
}


.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{       
        color: #ff4c68;                       /* pseudo class */
}






/* testimonial section */



#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}


h2{
    font-family: 'Montserrat';
    font-weight: 501;
    font-size: 2.8rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;

}


#pricing{
    padding: 100px;
    text-align: center;
}


.pricing-coloumn{
    padding: 3% 2%;
}



#cta{
    background-color: #ff4c68;
    height: 20rem;
    text-align: center;
    padding-bottom: 7% 15%;
}

.cta-heading{
    padding: 3rem 5rem 0rem;
    margin-left: 10rem;
    margin-right: 10rem;
    font-family: 'Montserrat-Black', sans-serif; font-size: 2.5rem; line-height: 1.5; color: white;

}



/* footer section */

#footer{
    padding: 7% 15%;
    text-align: center;
}


.social-icon{
    margin: 20px 10px;
}




/*media */


@media(max-width: 1028px){
 
    #title{
    text-align: center;
    }
     
    .title-image{
      position: static;
      transform: rotate(0);
    }
    }


@media(max-width: 978px){
 
    #cta{
     text-align: center;
     font-size: 1.5rem;
    }
}

    